@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  font-family: 'lato';
}

.Subject {
  transition: .3s;
}

.Subject:hover {
  background-color: #e4e4e4 !important;
}

.FadeInBox, .LinkBox, .LoginButton {
  transition: .25s;
}

.FadeInBox:hover {
  background-color: rgb(234, 234, 234) !important;
}

.LinkBox:hover {
  background-color: #f3f3f3 !important;
}

.LoginButton:hover {
  background-color: #f9f5f5 !important;
}

.FadeInBox:active, .LinkBox:active, .LoginButton:active {
  background-color: #d8d8d8 !important;
}

@media only screen and (max-width: 610px) {
  .DisciplineList {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media only screen and (min-width: 900px) {
  .Jumbotron {
    font-size: 80px !important;
  }

  .Sub {
    font-size: 40px !important;
  }
}

@media only screen and (max-width: 514px) {
  .DisciplineList {
    grid-template-columns: 1fr !important;
  }
  .Discipline {
    height: min-content !important;
  }
}

@media only screen and (max-width: 562px) {
  .SBHeader {
    grid-template-columns: 1fr !important;
  }

  .SBHeader > .Linkify {
    text-decoration: underline !important;
    background-color: white !important;
    justify-self: start !important;
  }
}